<div class="container">
  <div class="row">
    <app-list (msgToCv)="getSelectedCandidat($event)" [allCandidats]='listeCv'></app-list>
  </div>

  <div class="row">
    <app-details *ngIf="selectedCandidat != null" [theCandidat]="selectedCandidat"></app-details>
  </div>

  <button (click)="addNewCandidat()">Add Candidat</button>
  <button (click)="showList()">Show list From cv</button>

  <div>
    <app-liste-recrutement></app-liste-recrutement>
  </div>

</div>
