<div *ngIf="allCandidats.length > 0">
  <h3>Liste des recrues</h3>
  <ol>
    <!-- <li *ngFor="let leCandidat of allCandidats">
      {{ leCandidat.nom}}
      {{ leCandidat.prenom}}
    </li> -->
    <app-item-one *ngFor="let leCandidat of allCandidats" [candidat]="leCandidat"></app-item-one>
  </ol>
</div>
