<div class="orsys">
  <h2>{{ oneAccount.nom }}</h2>

  <hr>
  <p>This account is {{ oneAccount.statut }} </p>

  <button [disabled]="oneAccount.statut == 'actif'" (click)="setChange('actif')" class="btn btn-primary">Set to
    actif</button>
  <button [disabled]="oneAccount.statut == 'inactif'" (click)="setChange('inactif')" class="btn btn-dark">Set to
    inactif</button>
  <button [disabled]="oneAccount.statut == 'inconnu'" (click)="setChange('inconnu')" class="btn btn-secondary">Set to
    inconnu</button>

</div>
