<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/server" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact : true}">Server</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/texte" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact : true}">Word</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/cv" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">CV</a>
  </li>
</ul>
