<form #f="ngForm" (ngSubmit)="onSubmit(f)" name="form">
  <label for="nom" class="form-label">Votre nom:</label>
  <input type="text" class="form-control" name="nom" ngModel required #nom="ngModel">
  <label for="pet-select" class="form-label">Le statut:</label>
  <select name="statut" id="pet-select" ngModel required #statut="ngModel">
    <option value="">-- Choisir --</option>
    <option value="actif">Actif</option>
    <option value="inactif">Inactif</option>
    <option value="inconnu">Inconnu</option>
  </select>
  <button class="btn btn-primary">Add account</button>
</form>
