<div>
  <p [ngStyle]="{'color': color, 'font-family': fontFamily, 'font-size': size, 'background-color': background}">
    Lorem ipsum dolor sit amet
    consectetur
    adipisicing elit.
    Veniam ratione labore totam
    aperiam obcaecati corrupti
    sint doloribus hic, repudiandae sed voluptates, vel laudantium natus ex. Quo est fugit excepturi ratione.
    Necessitatibus corrupti dolorum amet dicta. Animi odio quaerat excepturi repudiandae. Laborum labore quo, aut,
    voluptatibus enim vero nobis reiciendis saepe, quae dolores perspiciatis dolor totam corrupti repellendus aperiam
    assumenda voluptatum.</p>

</div>

<label for="couleur">Couleur</label>
<input [(ngModel)]="color" type="text" name="couleur" id="couleur">
<br>

<label for="couleur">Background</label>
<input [(ngModel)]="background" type="text" name="background" id="background">
<br>

<label for="taille">Taille du texte</label>
<input #inputSize (keyup)="changeSize(inputSize)" type="number" name="size" id="size">
<br>

<label for="family">Police</label>
<select [(ngModel)]="fontFamily" name="family" id="family">
  <option *ngFor="let font of listeFonts" [value]="font">{{ font }}</option>
</select>
