<div class="container">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <!-- partie app CV -->
  <!-- <app-cv></app-cv> -->

  <!-- exo accounts -->

  <!-- <app-home-account></app-home-account> -->

  <!-- exo exo -->

  <!-- <app-texte></app-texte> -->

  <!-- exo 3 direct -->
  <!-- <app-direct></app-direct> -->
</div>
