<ol>
  <app-item-one *ngFor="let leCandidat of allCandidats" (msgToDetails)="sendCandToCv($event)" [candidat]="leCandidat"
    [ngStyle]="{'font-family': styleExp}"></app-item-one>

  <!-- <li class="list-group-item">
    <app-item-one (msgToDetails)="sendCandToCv($event)" [candidat]="allCandidats[1]"></app-item-one>
  </li>
  <li class="list-group-item">
    <app-item-one (msgToDetails)="sendCandToCv($event)" [candidat]="allCandidats[2]"></app-item-one>
  </li> -->
</ol>
