<!-- <h3>Liste des serveurs</h3>
<input [(ngModel)]="selectedStatut" type="text" class="form-control" placeholder="Statut du serveur">
<br>
<div class="container">
  <ol>
    <li [ngClass]="isAvailable(server.statut)" *ngFor="let server of listeServeurs | filter:selectedStatut">
      {{server.nom|short:11}} |
      {{server.type}} | {{server.demarrage}} | {{server.date}} | {{ server.statut }}
    </li>
  </ol>
</div> -->

<!-- version avec une variable et le template reference -->

<h3>Liste des serveurs</h3>
<input #ss (keyup)="changeSelectedStatut(ss.value)" type="text" class="form-control" placeholder="Statut du serveur">
<br>
<div class="container">
  <ol>
    <li [ngClass]="isAvailable(server.statut)" *ngFor="let server of listeServeurs | filter:selectedStatut">
      {{server.nom|short:11}} |
      {{server.type}} | {{server.demarrage}} | {{server.date}} | {{ server.statut }}
    </li>
  </ol>
</div>

<button (click)="addServer()">Add Server</button>
