.c1 {
  background-color: rgb(134, 243, 149);
  color: rgb(11, 109, 19);
}
.c2 {
  background-color: rgb(255, 144, 162);
  color: rgb(134, 2, 2);
}
.c3 {
  background-color: rgb(240, 224, 0);
  color: rgb(116, 108, 6);
}
ol {
  list-style: none;
}
