<p>Premier composant!</p>

<h2>{{ name }} -- {{ formation }} : Interpolation</h2>

<!-- 2 way binding  -->

<input [(ngModel)]="name" type="text" class="form-control">

<!-- property -->

<div [hidden]="hd" [style.backgroundColor]="color">
  Formation Angular
</div>

<!-- event binding -->

<button (click)="clickHandler()" class="btn btn-primary">Clique</button>
