<h1>Page d'accueil</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, maxime deleniti voluptatem, aliquid voluptate
  dolorem suscipit adipisci itaque nisi, ipsum sapiente vel labore fugiat iure libero quis! Pariatur, nostrum ipsum!</p>


<button routerLink="/cv" class="btn btn-primary m-1">Go to CV</button>
<button [routerLink]="['/server']" class="btn btn-primary m-1">Go to server</button>

<br>
<hr>

<button (click)="goToCv()" class="btn btn-warning m-1">Go to CV</button>
<button (click)="goToServer()" class="btn btn-warning m-1">Go to server</button>
