<div class="card-container">
  <div class="card">
    <div class="front">
      <div class="cover">
        <img width="40" src="../../assets/img/job.jpg" />
      </div>
      <div class="user">
        <img class="img-circle" src="../../assets/img/{{theCandidat.avatar | defaultnommage}}" />
      </div>
      <div class="content">
        <div class="main">
          <h3 class="name">{{ theCandidat.nom }} {{ theCandidat.prenom}}</h3>
          <p class="profession">{{ theCandidat.age }} ans</p>
          <p class="profession">{{ theCandidat.profession }}</p>

          <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love
            me everywhere"</p>
        </div>
        <div class="footer">
          <div class="rating">
            <i class="fa fa-mail-forward"></i> Auto Rotation
          </div>
        </div>
      </div>
    </div> <!-- end front panel -->
    <div class="back">
      <div class="header">
        <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
      </div>
      <div class="content">
        <div class="main">
          <h4 class="text-center">Job Description</h4>
          <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
          <div>
            <button (click)="addRecrue(theCandidat)" class="btn btn-info">Recruter</button>
            <p>
              {{message}}
            </p>
          </div>
          <div class="stats-container">
            <div class="stats">
              <h4>235</h4>
              <p>
                Followers
              </p>
            </div>
            <div class="stats">
              <h4>114</h4>
              <p>
                Following
              </p>
            </div>
            <div class="stats">
              <h4>35</h4>
              <p>
                Projects
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="footer">
        <div class="social-links text-center">
          <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
          <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
          <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
        </div>
      </div>
    </div> <!-- end back panel -->
  </div> <!-- end card -->
</div> <!-- end card-container -->
